<a href="https://colab.research.google.com/github/SonnyK33/test/blob/master/Credit_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import numpy as np
import pandas as pd
import math

creditID = 0
currentYear = 2020.25
currentQuarter = 2
FCF = ['Revenue','Variable Costs','Fixed Costs','EBITDA']

class corporateCredit:
    creditID+=1
    
  
    def __init__(self, name, ticker, bbgrating, sector, country):
      self.name = name
      self.ticker = ticker
      self.bbgrating = bbgrating
      self.sector = sector
      self.country = country

    def setCurrentFCF(self, rev, rev_g, var_costs, f_costs):
      self.CurrentFCF = {'rev': rev, 'rev_g': rev_g, 'var_costs': var_costs, 'f_costs': f_costs}

    

    def makeProj (self, qtrs):
      revArray = np.array([self.CurrentFCF['rev']*(1+self.CurrentFCF['rev_g'])**i for i in range(qtrs+1)],dtype=int)
      vcostsArray = np.array([self.CurrentFCF['var_costs']*(1+self.CurrentFCF['rev_g'])**i for i in range(qtrs+1)],dtype=int)
      fcostsArray = np.full(shape=qtrs+1,fill_value=self.CurrentFCF['f_costs'],dtype=int)
      ebitdaArray = revArray+vcostsArray+fcostsArray
      revEBITDA=[revArray,vcostsArray,fcostsArray,ebitdaArray]
      FCF_df=pd.DataFrame(revEBITDA,columns = self.makeDateColumn(qtrs), index = FCF)
      return FCF_df


      
    def makeDateColumn(self,qtrs):
      yearColumns = ['Q'+str(currentQuarter)+'/'+str(math.floor(currentYear))]
      for x in range (qtrs):
          yearColumns.append('Q'+str(((currentQuarter+x) % 4)+1)+'/'+str(math.floor(currentYear+(x+1)*0.25)))
      return yearColumns


    def setCapitalStructure(self,firstLien,secondLien,otherDebt,unsecured):
      self.firstLien = firstLien
      self.secondLien = secondLien
      self.otherDebt = otherDebt
      self.unsecured = unsecured
      






a = corporateCredit("Ovintiv", "OVV", "BB+", "E&P", "USA" )
a.setCurrentFCF(726,0.01,-200,-257)
a.makeProj(10)

                Q2/2020  Q3/2020  Q4/2020  ...  Q2/2022  Q3/2022  Q4/2022
Revenue             726      733      740  ...      786      794      801
Variable Costs     -200     -202     -204  ...     -216     -218     -220
Fixed Costs        -257     -257     -257  ...     -257     -257     -257
EBITDA              269      274      279  ...      313      319      324

[4 rows x 11 columns]